<?xml version="1.0" encoding="utf-8"?>
<!--Redundant because MSVS 2015 U3 required, therefore not implemented-->
<packages>
  <package id="Microsoft.Research.CNTK.CpuEval-acml" version="1.5" targetFramework="Native" />
  <package id="Microsoft.Research.CNTK.CpuEval-mkl" version="2.0-beta9" targetFramework="Native" />
</packages>